# =========================
# Django
# =========================
Django==5.2.14
django-filter==26.1
django-mail-templated==2.6.5


# =========================
# Django REST Framework
# =========================
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
djoser==2.3.4


# =========================
# API Documentation
# =========================
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.8.1


# =========================
# Authentication / Social Login
# =========================
social-auth-app-django==5.9.0
social-auth-core==4.9.1


# =========================
# Image Processing
# =========================
Pillow==12.3.0


# =========================
# Configuration
# =========================
python-decouple==3.8


# =========================
# API / Serialization Utilities
# =========================
Markdown==3.10.3
PyYAML==6.0.3


# =========================
# Code Quality / Formatting
# =========================
black
flake8==6.1.0

# =========================
# Test 
# =========================
pytest-django
pytest

# =========================
# Faker Data 
# =========================
Faker