{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete Post</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

<div class="container">

    <div class="delete-card">

        <h1>Delete Post</h1>

        <p>
            Are you sure you want to delete:
            <strong>{{ object }}</strong>?
        </p>


        <form method="post">

            {% csrf_token %}

            <button type="submit" class="delete-btn">
                Yes, Delete
            </button>


            <a href="{% url 'blog:list_post' %}" class="cancel-btn">
                Cancel
            </a>

        </form>

    </div>

</div>

</body>
</html>